:root {
  --bg-color: #0b1219;
  --fg-color: #d1d3d4;
  --font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font);
}

html {
  font-size: 12pt;
}

body {
  height: 500vh;
  width: 100%;
  background: var(--bg-color);
  color: var(--fg-color);
  /* overflow-x: hidden; */
}

svg {
  height: 20%;
  width: 25%;
  position: absolute;
  background-size: cover;
}

/* div { border: dotted 2px cyan; } */

a {
  color: var(--fg-color);
  text-decoration: none;
}
a:visited {
  color: var(--fg-color);
  text-decoration: none;
}

/* NAVBAR */

.nav-bar {
  left: 3.5vw;
  height: 3.7em;
  width: 55%;
  padding: 1em;
  font-size: 1.5em;
  font-weight: 10;
  color: var(--fg-color);
  background: transparent;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  z-index: 1;
}
a .nav-bar-item {
  height: auto;
  width: auto;
  padding: 4px;
}
a .nav-bar-item:hover {
  border-bottom: var(--fg-color) solid 1px;
  transition: all 1s;
}

section {
  height: 100vh;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  border: 1px red dotted;
}

/* HOME SECTION */

.home {
  position: relative;
  display: grid;
  grid-template-columns: 5% 45% 45% 5%;
}
.home h1 {
  font-size: 7em;
  font-weight: bold;
  line-height: 1em;
}
.home p {
  font-size: 3em;
  font-weight: lighter;
}
.home .content {
  grid-column: 2;
}
.demo {
  height: auto;
  width: auto;
  grid-column: 3 / span 2;
}
.home .links {
  font-weight: bold;
}

.content {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

img {
  height: 100%;
  max-width: 100%;
  grid-column: 2 / span 2;
  clip-path: url(#svgPath);
  background-size: cover;
  background-repeat: no-repeat;
  image-resolution: from-image;
  background-position: right;
}

.buttons {
  height: auto;
  width: 60%;
  margin: 2em 0;
  font-size: 1.3em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.button-outline {
  padding: 5px 2em;
  background-color: transparent;
  color: var(--fg-color);
  border: var(--fg-color) solid 1px;
}
.button-filled {
  padding: 5px 2em;
  color: var(--bg-color);
  background-color: var(--fg-color);
  color: var(--bg-color);
}
.buttons a {
  font-weight: bold;
  text-decoration: none;
}
a .button-outline:hover {
  background-color: var(--fg-color);
  color: var(--bg-color);
  transition: 0.5s;
}
.button-filled:hover {
  box-shadow: 0px 0px 1em 0px #d1d3d46e;
  transition: 0.1s;
}

/* VIDEO SECTION */

.video {
  display: grid;
  grid-template-columns: 5% 45% 45% 5%;
}
.video .content {
  top: 0;
  left: 0;
  width: auto;
  height: auto;
  position: absolute;
  grid-column: 2 / span 2;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.video video {
  height: auto;
  width: 100vw;
  position: absolute;
  grid-column: 1 / span 3;
}

.home h1 {
  font-size: 7em;
  font-weight: bold;
  line-height: 1em;
}
.home p {
  font-size: 3em;
  font-weight: lighter;
}
.home .content {
  grid-column: 2;
}